/* SELECIONA TODOS OS ELEMENTOS */
*{
    margin: 1px;
    padding: 2px
}




body{
    background-color:aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    
}


/* Seletor por class */
/* # vem para informar que é um ID - #id */
/* SELETOR DE ID */
#topo{
    background-color:darkred;
}

/* . vem para informar que é uma class - .class */
.texto-top{
    font-style: italic;
    font-size: 25px;

    /* text-decoration - para personalizar o texto- Exemplo: colocar o texto sublinhado */
    text-decoration: underline;
}

/* estiliza os elementos com a class bloco. */
.bloco{
    background-color:cadetblue;
    margin-bottom:20px;
    padding: 20px;
    /* border - Coloca borda */
    border: 2px outset;

    /* troca a cor da borda */
    border-color:darkgrey;

    /* Muda o formato da borda - pode deixar mais arredondada */
    border-radius:10px ;
}

header{
    
    border: 10px;
    /*margin-bottom:15px;*/
    /*margin-top:15px;*/
    /* numeros da esquera é para cima e para baixo - numeros da direita é para jogar para Direita e para Esquerda. */
    margin: 10px, 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius:10px ;
    border-color:darkgrey;



}

.destaque{
    background-color:gold;
    font-weight: bold;
    color:darkred;
    
}

.texto-destaque{

    font-weight: bolder;
    color:darkred;
}

#caixa-unica{
    background-color: #ede9fe;
    padding: 10px;
    border: 2px solid purple;
}

/* SELECIONA TODOS OS "p" QUE ESTÃO DENTRO DE UMA DIV */

div p{
    color:blue;
}

/* SELECIONA TODOS O "p" QUE SÃO DILHOS DIRETOS DA CLASS ESPECIFICA */
.pai-direto > p{
    color:green;
    padding: 5px;
}


/* SELECIONA TODO O "p" QUE VEM LOGO APÓS UM H3, DESDE QUE SEJA IRMÃO */
h3 + p{
    color:red;

}

h4 ~ p{
    background-color:blueviolet;
    color:yellow;
}

/* SELECIONA POR ATRIBUTOS ESPECIFICOS */

/* Seleciona todos os inputs que tenham o tipo texto */
input[type="text"]{
    border: 2px solid orange;
    padding: 8px;
    margin-right: 10px;
}


/* SELECIONA TODOS OS LINKS QUE TENHAM ESSE VALOR NO HREF */
a[href*="microsoft"]{
    color:green;
    font-weight: bolder;
}


/* MESMO ESTILO PRA DUAS TAGS OU MAIS  */
h5, h6{
    color:purple;
    margin: 5px 0px;
    font-weight:border;
}


/* Seleciona duas coisas ao mesmo tempo. */
/* .botao.ativo */



/* Criando o botão sensivel ao sensor */
.botao{
    background-color:aliceblue;
    cursor: pointer;
    font-size: 15px;
    padding: 1px;
    box-shadow: 3px 5px 7px black;
    
}

/* Criando o movimento para ao passar o cursor em cima ele mexer */
.botao:hover{
    background-color:cyan;
    transform: scale(0.98);
    font-size: 15px;
    padding: 1px;
}

/* SELECIONA O p DESDE QUE TENHA A CLASS AVISO */
p.aviso{
    color:chartreuse;
}

/* SELECINA APENAS A DIV QUE TENHA O ID PAINEL */
div#painel{
    background-color:red;
    padding: 10px
}

/* SELECIONANDO FILHO DENTRO DE FILHO */
#menu ul li a{
    color:violet;
}