*{
    margin: 0px;
    padding: 0px;

}


/* VARIÁVEIS */
:root{
    --font-main: "Segoe UI", sans-serif;
    --color-primary:red;
    --color-text:#222;
    --color-bg-page:cornflowerblue;
    --color-bg-box:#e5e7eb;
    --color-white:white;
    --color-gray:gray;

    /* ESTADOS E EXEMPLOS */
    --blue-bg:#dbeafe;
    --blue-border:#2563eb;
    --green-bg:#dcfce7;
    --green-border:#16a34a;
    --yellow-bg:#fef3c7;
    --yellow-border:#d97706;


    /* comparação */
    --comparacao-block-bg:lightblue;
    --comparacao-inline-bg:lightgreen;
    --comparacao-inline-block-bg:#fde68a;
    --observacao-bg:#e4f4f8;


    /* Medidas */
    --radius: 10px;
    --gap: 10px;

}

/* estilo geral */
body{
    font-family: var(--font-main);
    background-color: var(--color-bg-page);
    color: var(--color-text);
    margin:20px;
}

h1,h2{
    color:var(--color-primary);
    text-align:center;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}
h3{
    margin-top:25px;
}
p{
    line-height: 1.7;
}

.bloco{
    background: var(--color-white);
    border: 1.3px solid var(--color-gray);
    border-radius: var(--radius);
    padding: 20px;
    margin-bottom: 20px;
}

/* COMPARAÇÃO */
.comparacao{
    border: 2px dashed var(--color-gray);
    padding: 15px;
    margin-bottom: 20px;
}

/* observação */
.observacao{
    background-color: var(--observacao-bg);
    border-left: 5px solid var(--color-primary);
    padding: 12px;
}

/* Display Block */

.exemplo-block div{
    display: block;
    background-color: var(--blue-bg);
    border: 1px solid var(--blue-border);
    padding: 4px;
    margin-bottom: 5px;
    /*width: 50%;*/
    border-radius: 4px;
}

.comparacao.block div{
    display:block;
    background-color: var(--comparacao-block-bg);
    padding: 10px;
    margin-bottom: 5px;
}

/* Display inline */
.exemplo-inline span{
    display: inline;
    background-color: var(--green-bg);
    border: 2px solid var(--green-border);
    padding: 1px;
    margin-left: 10px;
}

.comparacao.inline span{
    display: inline;
    background-color: var(--comparacao-inline-bg);
    padding: 10px;
}

/* Display Inline-Block */
.exemplo-inline-block div{
    display: inline-block;
    background-color: var(--yellow-bg);
    border: 2px solid var(--yellow-border);
    padding: 1px;
    margin-left: 10px;
    margin-top:5px;
    margin-bottom:9px;
    text-align:center;
    line-height:30px;

}

.comparacao.inline-block div{
    display: inline-block;
    width: 100px;
    height: 25px;
    background-color:var(--comparacao-inline-block-bg);
    padding: 20px;
    margin-right: 10px;
    text-align:center;
    margin-bottom: 5px;
    border-radius: 15px;
}


/* Display none */

.none.exemplo{
    display:flex;
    gap: var(--gap);
    background-color: var(--color-bg-box);
    padding:20px;
}

.none.exemplo div{
    flex: 1;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 25px;
    text-align: center;
}

.none-exemplo .elemento-oculto{
    display: none;
}

/* DISPLAY FLEX */
.exemplo-flex{
    display: flex;
    background-color: var(--color-bg-box);
    padding: 20px;
    gap: var(--gap); 
}

.exemplo-flex div{
    background-color: var(--color-primary);
    padding: 25px;
    flex: 1;
    text-align: center;
}


/* FELX DIRECTION */
.flex-direction-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    background-color: var(--color-bg-box);
    padding: 15px;
}

.flex-direction-row div, .flex-direction-column div{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px;
    text-align: center;
}

.flex-direction-column{
    display: flex;
    flex-direction:column;
    gap: var(--gap);
    background-color: var(--color-bg-box);
    padding: 15px;
}

/* JUSTIFY CONTENT */
/* Caixa internas ou os filhos */
.justify-start div, .justify-center div, .justify-between div {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px 25px;
}

/* Os pais */
.justify-start, .justify-center, .justify-between{
    display: flex;
    background-color: var(--color-bg-box);
    padding: 15px;
    margin-bottom: 15px;
}

/* alinhado ao começo horizontalmente*/
.justify-start{
    justify-content: start;  /* start - esquerda */
    justify-content: end; /* end -direita */
}

/* alinhar os intens ao centro horizontamente */
.justify-center{
    justify-content: center;
}

/* da um espaço entre os elementos horizontalmente */
.justify-between{
    justify-content:space-between; /* between - entre */
    justify-content:space-around; /* around - em volta */

}

/* aling-itens */
.align-center{
    display: flex;
    height: 180px;
    background-color: var(--color-bg-box);
    gap: 20px;
    align-items:center;
    justify-content: center;
}

.align-center div{
    background-color:green;
    color: var(--color-white);
    padding: 15px;
}

.align-center .ggrande{
    height: 100px;
    display: flex;
    align-items: center;
}

/* gap */
.gap-exemplo{
    display: flex;
    gap: 30px;
    background-color: var(--color-bg-box);
    padding: 20px;
}

.gap-exemplo div{
    width: 70px;
    height: 70px;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* GRID */
.exemplo-grid{
    display:grid;
    gap:var(--gap);
    /* grid-template-columns: 30% 40% 30%; */
    /* grid-template-rows: 200px 80px 600px ; */
    grid-template: 1fr 2fr 1fr / 3fr 7fr;

}

.exemplo-grid div{
    background-color: pink;
    color: var(--color-white);
    padding: 30px;
    text-align: center;
}

/* Grid templete */
/* grid-2-colunas */
/* Pai */
.grid-duas-colunas{
    display:grid;
    gap: var(--gap);
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 150px 100px;



}


/* Filho */
.grid-duas-colunas div{
    display:grid;
    background-color:aquamarine;
    color:crimson;
    padding: 20px;
    text-align:right;
}




/* grid-4-colunas */
/* Pai */
.grid-quatro-colunas{
    display:grid;
    gap:var(--gap);
    grid-template-columns: repeat(4, 4fr);
    

}


/* Filho */
.grid-quatro-colunas div{

    display:grid;
    background-color:brown;
    color:blue;
    padding: 20px;
    text-align:center;
}


/* Responsividade */

@media (max-width:700px){
    .exemplo-inline-block div{
        width: 85%;
        margin-bottom: 12px;
    }

    /* .grid-duas-colunas{ */
        /* grid-template-columns: 100%; */
    /* } */

    /* .grid-quatro-colunas{ */
        /* grid-template-columns: repeat(2, 1fr); */
    /* } */


}






